In [79]:
##Project 1 Instructions

'''
Week 1 Project:
Part 1: From the dataset above, write Python code to answer the following questions:
Find all records where the weather was exactly clear.
Find the number of times the wind speed was exactly 4 km/hr.
Check if there are any NULL values present in the dataset.
Rename the column "Weather" to "Weather_Condition."
What is the mean visibility of the dataset?
Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.
What is the mean value of each column for each weather condition?
Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.
Find the number of weather conditions that include snow.

Part 2: Move this CSV into a database of your choice and use SQL to answer 4 of the questions above.  cc @channel

'''

'\nWeek 1 Project:\nPart 1: From the dataset above, write Python code to answer the following questions:\nFind all records where the weather was exactly clear.\nFind the number of times the wind speed was exactly 4 km/hr.\nCheck if there are any NULL values present in the dataset.\nRename the column "Weather" to "Weather_Condition."\nWhat is the mean visibility of the dataset?\nFind the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.\nWhat is the mean value of each column for each weather condition?\nFind all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.\nFind the number of weather conditions that include snow.\n\nPart 2: Move this CSV into a database of your choice and use SQL to answer 4 of the questions above.  cc @channel\n\n'

Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('C:/Users/Administrator/OneDrive/Chris eezy docs/Other docs/Lux projects/Weather_Data.csv')
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

Find all records where the weather was exactly clear.

In [82]:
clear_weather=data[data['Weather'] == 'Clear']
clear_weather

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

Find the number of times the wind speed was exactly 4 km/hr

In [83]:
windspeed_4=data[data['Wind Speed_km/h']==4]
windspeed_4.shape[0]

474

Check if there are any NULL values present in the dataset

In [84]:
null_values=data.isnull().sum().sum()
null_values

0

Rename the column "Weather" to "Weather_Condition."

In [85]:
data=data.rename(columns={'Weather':'Weather_Condition'})
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

What is the mean visibility of the dataset?

In [86]:
mean_visibility=data['Visibility_km'].mean()
mean_visibility

27.66444672131151

Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

In [87]:
windspeed_24nmore=data[(data['Wind Speed_km/h'] > 24) & (data['Visibility_km'] == 25)]
windspeed_24nmore.shape[0]

308

What is the mean value of each column for each weather condition?

In [88]:
mean_values=data.mean()
mean_values

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7412\1360917248.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_values=data.mean()

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.

In [89]:
#weather is clear and the relative humidity is greater than 50, or visibility is above 40.
clearweather_relativehumidity=data[(data['Weather_Condition'] == 'Clear') & ((data['Rel Hum_%'] >50) | data['Visibility_km'] >40)]
clearweather_relativehumidity.shape[0]

0

In [90]:
#weather is clear and the relative humidity is greater than 50
clearweather_relativehumidity=data[(data['Weather_Condition'] == 'Clear') & (data['Rel Hum_%'] >50)]
clearweather_relativehumidity.shape[0]

1070

Find the number of weather conditions that include snow.

In [91]:
snow_weather=data[data['Weather_Condition'].str.contains('Snow', case=False, na=False)]
snow_weather.shape[0]

583

In [78]:
unique_weathers=data['Weather_Condition'].unique()
unique_weathers

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)