Instructions


Week 2: EDA Assignment on the Weather Dataset Analysis cc @channel
Perform Exploratory Data Analysis (EDA) to uncover interesting patterns, insights, and potential anomalies within the Weather dataset that we used for week 1 Assignment.
Please address the following questions and tasks in your analysis:

   Data Overview and Cleaning:
What are the key characteristics of the dataset? (e.g., number of records, features, data types)
Identify and handle any missing or null values. Describe your approach and reasoning.
Check for and address any duplicate records.

   Statistical Summary:
Provide a statistical summary of the dataset (mean, median, standard deviation, etc.) for numerical features.
Identify and describe any significant outliers in the data.

   Data Visualization:
Create visualizations to show the distribution of key weather parameters (e.g., temperature, humidity, wind speed).
Plot time series graphs to visualize trends over time. Highlight any notable patterns or seasonal variations.
Create correlation matrices and heatmaps to identify relationships between different weather parameters.

   Weather Patterns and Trends:
Analyze and describe any trends or patterns you observe in the data. For instance, how do temperature and humidity vary across different seasons or months?

Investigate any anomalies or unusual patterns in the data. What might be the reasons for these anomalies?

   Insights and Conclusions:
Summarize the key insights you have gained from your EDA. What are the most interesting or surprising findings?
How can these insights be useful for weather prediction or other practical applications?
Recommendations for Further Analysis:
Suggest areas for further analysis or additional data that might be useful to explore.
Please present your findings in a well-organized report, including both written explanations and visualizations. Use appropriate libraries (e.g., pandas, matplotlib, seaborn) and ensure your code is well-documented and reproducible.

In [4]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [5]:
# loading the data to a dataframe data
data=pd.read_csv("C:/Users/Administrator/OneDrive/Chris eezy docs/Other docs/Lux projects/Weather_Data.csv")
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [17]:
#checking for datatypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [14]:
#shape of the dataframe
data.shape

(8784, 8)

The data has 8784 rows and 8 columns

In [16]:
#checking for duplicates
data.duplicated().sum()

0

The data does not have duplicate entries currently.

In [21]:
#checking for missing values
data.isna().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

The data does not have missing values in either

In [13]:
#statistics of the data
data.describe(include='all')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784
unique,8784,NaN,NaN,NaN,NaN,NaN,NaN,50
top,1/1/2012 0:00,NaN,NaN,NaN,NaN,NaN,NaN,Mainly Clear
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,2106
mean,NaN,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,NaN
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,NaN
min,NaN,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,NaN
25%,NaN,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,NaN
50%,NaN,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,NaN
75%,NaN,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,NaN
max,NaN,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,NaN